tmp/
kill_run

pgms/arithoh
pgms/context1
pgms/dhry2
pgms/dhry2reg
pgms/double
pgms/execl
pgms/float
pgms/fstime
pgms/hanoi
pgms/int
pgms/long
pgms/looper
pgms/pipe
pgms/register
pgms/short
pgms/syscall
pgms/spawn
pgms/whetstone-double
